#root {
  width: calc(100% - 1rem);
  margin: 0 auto;
  padding: 0.5rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}


.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.col {
  display: flex;
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.justify-flex-end {
  justify-content: flex-end;
}

.description {
  color: #d7d7d7;
}

.text-right {
  text-align: right;
}

.chart {
  display: flex;
  flex-wrap: wrap;
}

.chart-item {
  flex-basis: 300px;
  max-width: 100%;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.footer {
  margin-top: 10px;
}

.d-flex {
  display: flex;
}

.server-offline, .loading {
  height: 300px;
  font-size: 22px;
}