.footer-lang-link {
  text-decoration: none;
  cursor: pointer;
}

.footer-lang-link.active {
  color: #666;
  /* active language not highlighted */
  cursor: default;
}

.footer-lang-separator {
  margin: 0 0.5rem;
  color: #666;
}

.footer-lang-container {
  margin-top: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .footer-lang-link.active {
    color: #ccc;
    /* grey for active link in dark mode */
  }
  .footer-lang-separator {
    color: #aaa; /* improved contrast in dark mode */
  }
}