.footer-lang-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--ui-primary);
  font-weight: 600;
}

.footer-lang-link.active {
  color: var(--ui-muted);
  cursor: default;
}

.footer-lang-separator {
  margin: 0 0.5rem;
  color: var(--ui-muted);
}

.footer-lang-container {
  margin-top: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .footer-lang-link.active {
    color: var(--ui-muted);
  }
  .footer-lang-separator {
    color: var(--ui-muted);
  }
}