.footer-lang-link {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

.footer-lang-link.active {
  color: #646cff;
  cursor: default;
}

.footer-lang-separator {
  margin: 0 0.5rem;
  color: #666;
}

.footer-lang-container {
  margin-top: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .footer-lang-link {
    color: #ccc; /* light grey for dark mode */
  }
}
