.hourly-chart {
    margin-top: 10px;
    min-height: 300px;
}

.hourly-chart-title {
    font-weight: bold;
}

.hourly-chart-content {
    margin-top: 10px;
}

.hourly-chart-buttons button+button {
    margin-left: 10px;
}