.system-information {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.system-title {
    position: relative;
    margin-bottom: 20px;
}

.system-title-text {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

.notification-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.notification-button button {
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    color: green;
}

.notification-button button.active {
    background-color: lightgray;
}

.notification-button button:not(.active):hover {
    background-color: #f0f0f0; /* Light mode hover background */
}

.system-graph {
    position: relative;
}

.pv {
    display: flex;
    align-items: flex-start;
}

.y-arrow {
    background-image: url('/assets/_arrow_down.gif');
    height: 100px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.y-arrow.none {
    background-image: none;
}

.y-arrow+.y-arrow {
    margin-top: -27px;
}

.power {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
}

.power-item {
    white-space: nowrap;
}

.power-value {
    text-align: right;
    padding-left: 10px;
}

.system-status {
    position: absolute;
    right: 0;
    top: -5px;
}

.system-status-display {
    display: flex;
    flex-direction: row;
    padding: 7px;
    background-color: #7b7b7b;
    border-radius: 7px;
    align-items: center;
}

.system-status-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ee3939;
    margin-right: 5px;
}

.system-status-icon.normal {
    background-color: #08b308;
}

.system-status-icon.offline {
    background-color: #b6b6b6;
}

.system-status-reconnect {
    margin-left: 5px;
}

.battery-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid {
    position: relative;
    left: -13px;
}

.consumption {
    position: relative;
    left: -39px;
    top: -45px;
}

.eps {
    position: relative;
    top: 13px;
}

.battery-texts,
.grid-texts {
    line-height: 30px;
}

.x-arrow {
    background-image: url('/assets/_arrow_right.gif');
    height: 20px;
    width: 85px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.x-arrow.left {
    background-image: url('/assets/_arrow_left.gif');
}

.x-arrow.none {
    background: none;
}

.x-arrow+.x-arrow {
    margin-left: -13px;
}

.eps-texts {
    margin-top: 125px;
}

.eps-status {
    font-size: 18px;
}

.consumption-texts {
    margin-top: 185px;
}

.consumption-icon img {
    margin-top: -15px;
}

.hidden {
    visibility: hidden;
}

.show-small {
    display: none;
}

.system-graph {
    width: 1103px;
    margin: auto;
}

.system-content {
    flex: 1;
}

.notification-panel {
    width: 300px;
    padding: 10px;
    border-left: 1px solid #ccc;
}

.notification-panel button {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.notification-history {
    background: #f9f9f9;
    padding: 0; /* removed parent's padding */
    margin: 0;  /* removed parent's margin */
}

.notification-history ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-history li {
    padding: 5px;
    margin: 0; /* removed margin */
    border-bottom: 1px solid #ddd;
}

.notification-history li:hover {
    background-color: #f1f1f1; /* hover effect */
}

.notification-popover {
    position: absolute;
    top: 45px;
    right: 0;
    transform: translateX(calc(-10% - 5px));
    padding: 0; /* removed parent's padding */
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    width: 300px;
    min-height: 300px;
    cursor: default;
}

.notification-popover-content {
    padding: 0;  /* removed internal padding */
}

.notification-popover-content ul {
    max-height: 250px; /* adjust based on header height */
    overflow-y: auto;
}

.notification-popover-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 8px;
}

.notification-popover-header h3 {
    margin: 0; /* reduced margin */
    font-size: 16px; /* smaller title */
}

.notification-popover-content ul li strong {
    font-size: 16px;
}

.notification-body {
    font-size: 14px;
}

.close-popover {
    background: transparent;
    border: none;
    font-size: 1.3rem; /* increased font size */
    cursor: pointer;
}

.notification-button {
    display: inline-block;
    margin-left: 20px;
}

.notification-button button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.notification-no-record {
    text-align: center;
    color: lightgray;
}

@media screen and (max-width: 1200px) {
    .inverter .arrows .x-arrow:nth-child(4) {
        display: none;
    }

    .consumption {
        left: -63px;
    }

    .system-graph {
        width: 1030px;
    }
}

@media screen and (max-width: 1090px) {
    .inverter .arrows .x-arrow:nth-child(3) {
        display: none;
    }

    .battery .arrows .x-arrow:nth-child(2) {
        display: none;
    }

    .grid .arrows .x-arrow:nth-child(2) {
        display: none;
    }

    .system-graph {
        width: 845px;
        margin: auto;
    }

    .consumption {
        left: -54px;
    }
}

@media screen and (max-width: 900px) {
    .consumption-icon img {
        margin-top: 0px;
    }

    .power {
        font-size: 16px;
        margin-left: 10px;
    }

    .pv img,
    .system-graph .battery img,
    .inverter img,
    .grid img,
    .eps img,
    .consumption img {
        width: 88px;
        height: auto;
    }

    .eps-texts {
        margin-top: 120px;
    }

    .eps-texts .description,
    .consumption-texts .description {
        font-size: 14px;
    }

    .eps-status {
        font-size: 16px;
    }

    .consumption-texts {
        margin-top: 180px;
    }

    .x-arrow {
        width: 70px;
    }

    .y-arrow {
        height: 70px;
    }

    .inverter .arrows .x-arrow:nth-child(2) {
        display: none;
    }

    .system-graph {
        width: 500px;
    }

    .consumption {
        top: -73px;
        left: -55px;
    }

    .battery-type {
        display: none;
    }

    .grid-texts,
    .battery-texts,
    .pv-texts,
    .consumption-texts,
    .grid-texts,
    .eps-texts {
        display: none;
    }

    .show-small {
        display: unset;
    }

    .inverter {
        height: 160px;
        display: flex;
        align-items: center;
    }

    .eps {
        position: relative;
        top: -12px;
    }

    .grid {
        left: -24px;
    }

    .system-title-text {
        font-size: 16px;
    }

    .y-arrow+.y-arrow {
        margin-top: -8px;
    }

    .pv {
        position: relative;
        top: 20px;
    }
}

@media screen and (max-width: 768px) {

    .pv img,
    .system-graph .battery img,
    .inverter img,
    .grid img,
    .eps img,
    .consumption img {
        width: 60px;
        height: auto;
    }

    .power {
        margin-top: 46px;
    }

    .system-graph>.row:first-child .flex-1:nth-child(3) {
        display: none
    }

    .x-arrow {
        width: 54px;
        height: 15px;
    }

    .y-arrow {
        height: 54px;
        width: 15px;
    }

    .system-status-display {
        font-size: 14px;
        padding: 3px;
        border-radius: 3px;
    }

    .system-status-icon {
        width: 15px;
        height: 15px;
    }

    .system-graph {
        width: 360px;
    }

    .consumption {
        left: -38px;
        top: -55px;
    }


    .battery>.row>.col,
    .pv>.col,
    .eps>.row>.col,
    .grid>.col {
        width: 55px;
    }

    .grid .arrows .x-arrow {
        margin-left: 7px;
    }

    .inverter {
        height: 123px;
    }

    .system-information {
        padding: 5px;
    }

    .grid {
        left: -23px;
    }

    .eps {
        top: -8px;
    }

    .eps-status {
        font-size: 14px;
    }

    .y-arrow+.y-arrow {
        margin-top: -6px;
    }
}

@media (prefers-color-scheme: light) {
    .system-status-display {
        background-color: #eee;
    }
}

@media (prefers-color-scheme: dark) {
    .notification-history {
        background: #5c5c5c;
        color: #eee;
        border: 1px solid #555;
    }
    .notification-popover {
        background: #5c5c5c;
        border: 1px solid #555;
        box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
    }
    .notification-popover-header h3 {
        color: #fff;
    }
    .notification-no-record {
        color: #ccc;
    }
    .notification-history li:hover {
        background-color: #444;
    }
    .notification-button button.active {
        background-color: #555; /* adjusted active background color */
    }
    .notification-date {
        color: #aaa; /* adjusted for better visibility in dark mode */
    }
    .notification-button button:not(.active):hover {
        background-color: #666; /* Updated Dark mode hover background */
    }
}