.system-title {
    margin-bottom: 20px;
}
.system-title-text {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}
.system-graph {
    position: relative;
    width: 1100px;
}
.pv {
    display: flex;
    align-items: flex-start;
}
.y-arrow {
    background-image: url('/assets/_arrow_down.gif');
    height: 100px;
    width: 20px;
    background-repeat: no-repeat;
}
.y-arrow.none {
    background-image: none;
}
.y-arrow + .y-arrow {
    margin-top: -24px;
}
.power {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
}
.power-item {
    white-space: nowrap;
}
.power-title {
    width: 70px;
    display: inline-block;
}
.power-value {
    width: 90px;
    text-align: right;
    display: inline-block;
}
.system-status {
    position: absolute;
    right: 0;
    top: 10px;
}
.system-status-display {
    display: flex;
    flex-direction: row;
    padding: 7px;
    background-color: #7b7b7b;
    border-radius: 7px;
    align-items: center;
}
.system-status-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ee3939;
    margin-right: 5px;
}
.system-status-icon.normal {
    background-color: #08b308;
}
.system-status-icon.offline {
    background-color: #b6b6b6;
}
.system-status-reconnect {
    margin-left: 10px;
}
.battery-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.battery-texts, .grid-texts {
    line-height: 30px;
    width: 100px;
}
.x-arrow {
    background-image: url('/assets/_arrow_right.gif');
    height: 20px;
    min-width: 85px;
    background-repeat: no-repeat;
}
.x-arrow.left {
    background-image: url('/assets/_arrow_left.gif');
}
.x-arrow.none {
    background: none;
}
.x-arrow + .x-arrow {
    margin-left: -9px;
}
.eps-texts {
    margin-top: 130px;
}
.eps-status {
    font-size: 18px;
}
.consumption .row {
    margin-left: -14px;
    margin-top: -60px;
}
.consumption-texts {
    margin-top: 190px;
}
.consumption-icon img{
    margin-top: -15px;
}
.hidden {
    visibility: hidden;
}
@media (prefers-color-scheme: light) {
    .system-status-display {
        background-color: #eee;
    }
}